@model IEnumerable<TimeCard.Domain.WorkSummary>
<div class="row mt-3" style="max-height:700px; overflow-y:auto; position:relative;">
    <div class="col-md-8 offset-2">
        <table class="table table-bordered table-hover table-sm">
            <thead class="sticky">
                <tr>
                    <th style="width:45%;">Job</th>
                    <th style="width:25%;">Work Period</th>
                    <th style="width:15%;" class="text-right">Hours</th>
                    <th style="width:15%;" class="text-right">Total</th>
                </tr>
            </thead>
            <tbody>
                @{ foreach (var group in Model.OrderBy(x => x.Descr).ThenBy(x => x.WorkPeriod).GroupBy(x => x.JobId))
                    {
                        int i = 0;
                        decimal total = 0;
                        foreach (var row in group)
                        {
                            total += row.Hours;
                    <tr>
                        @Html.Raw(i == 0 ? $"<td rowspan=\"{group.Count()}\"</td>{row.Descr}</td>" : "")
                        <td>@row.WorkPeriodDescr</td>
                        <td class="hours-col text-right">@row.Hours</td>
                        <td class="hours-col text-right @(i == group.Count() - 1 ? "font-weight-bold" :  "")">@total</td>
                    </tr>
                    i++;
                }
            }
                }
            </tbody>

        </table>
    </div>
</div>
