@model TimeCardCore.Models.PaymentViewModel
<div class="row mt-3">
    <div class="col-md-12">
        <table class="table table-sm table-striped table-hover">
            <thead class="sticky">
                <tr>
                    <th style="width:15%;">Client</th>
                    <th style="width:15%;">Project</th>
                    <th style="width:15%;">Budget</th>
                    <th style="width:7%;">Bill Type</th>
                    <th style="width:7%;">Billed</th>
                    <th style="width:7%;">Paid</th>
                    <th style="width:7%;">Balance</th>
                    <th style="width:10%;">Starting Date</th>
                    <th style="width:10%;">Paid Thru</th>
                    <th>Detail</th>
                </tr>
            </thead>
            <tbody>
                @{ foreach (var summary in Model.PaymentSummary)
                    {
                <tr class="summary-row" data-edit=@(Json.Serialize(new { summary.JobId, summary.BudgetId })) style="cursor:pointer;">
                    <td>@summary.Client</td>
                    <td>@summary.Project</td>
                    <td>@summary.BudgetName</td>
                    <td>@summary.BillType</td>
                    <td>@summary.Billed</td>
                    <td>@summary.Paid</td>
                    <td>@summary.Balance</td>
                    <td>@summary.StartDate</td>
                    <td>@summary.PaidThruDate</td>
                    <td>
                        @{
                            var payments = Model.Payments.Where(x => x.JobId == summary.JobId && x.BudgetId == summary.BudgetId );
                            if (payments.Any())
                            {
                                <button type="button" class="btn btn-link" data-bs-toggle="collapse" data-target="#payments@(summary.JobId)">( @payments.Count() )</button>
                                <div class="collapse row" id="payments@(summary.JobId)">
                                    @{
                                        foreach (var pmt in payments)
                                        {
                                            <div class="col-md-4 text-right">@pmt.Hours</div>
                                            <div class="col-md-4">@($"{pmt.PayDate:MM/dd/yy}")</div>
                                            <div class="col-md-4">@pmt.CheckNo</div>
                                        }

                                    }
                                </div>
                            }

                        }

                    </td>
                </tr>
                    }
                <tr>
                    <td></td>
                    <td></td>
                    <td><strong>Total</strong></td>
                    <td><strong>@Model.PaymentSummary.Sum(x => x.Billed)</strong></td>
                    <td><strong>@Model.PaymentSummary.Sum(x => x.Paid)</strong></td>
                    <td><strong>@Model.PaymentSummary.Sum(x => x.Balance)</strong></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                }
            </tbody>
        </table>
    </div>
</div>
